# Website: https://nginxproxymanager.com/
# Container: https://hub.docker.com/r/jc21/nginx-proxy-manager
# GitHub: https://github.com/NginxProxyManager/nginx-proxy-manager

services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginproxy
    restart: always #unless-stopped
    ports:
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
    volumes:
      - ${LOCALPATH}/nginproxy/data/:/data
      - ${LOCALPATH}/nginproxy/letsencrypt/:/etc/letsencrypt
    environment:
      DISABLE_IPV6: 'true'
      X_FRAME_OPTIONS: "sameorigin"
  
  tinyauth:
    container_name: tinyauth
    image: ghcr.io/steveiliop56/tinyauth:v4
    restart: unless-stopped
    environment:
      - APP_URL=${APP_URL}
      - USERS=${USER}:${PASSWORD} # user:pas${APP_URL}

networks:
  default:
    external: true
    name: proxnet
